# generic #

## editor files ##
*~
*.bak

## toolchain leftovers ##
blib/
Build
_build/
cover_db/
Debian_CPANTS.txt
Makefile
MANIFEST
MANIFEST.SKIP
META.yml
MYMETA.yml

## build tool ##
#Build.PL
Makefile.PL

# project specific #
CPAN-Mini-Visit-Filtered-*
